.container {
  height: 300px;
  width: 300px;
  background-color: grey;
}

.container:hover {
  background-color: red;
}

.container::after {
  content: "psudo element";
  height: 300px;
  width: 300px;
  background-color: yellow;
}

/* Positions */
.wrapper {
  position: relative;
  background-color: lightblue;
}

.box {
  height: 100px;
  width: 100px;
}

.box1 {
  /* position: relative;
  bottom: 10px; */
  background-color: blue;
}

.box2 {
  background-color: red;
}

.box3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.chat {
  height: 50px;
  width: 50px;
  background-color: navy;
  color: white;
  border-radius: 50%;

  position: fixed;
  bottom: 10px;
  right: 10px;
}

.heading {
  position: sticky;
  top: 0;
}

.box4 {
  margin-top: 50px;
  background-color: lightsalmon;
  /* transform: rotate(45deg) */
  /* transform: scale(0.5); */
  /* transform: translateX(100px); */
  /* transform: translateY(100px); */
  /* transform: translate(100px, 100px); */

  transition: all 1s ease-in-out;
}

.box4:hover {
  /* opacity: 0;
  transform: translateX(50px); */
  background-color: black;
}

.box5 {
  margin-top: 50px;
  background-color: lightslategrey;
  border-radius: 50%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}